# Feb 16 Mysql Assignement

## Q1. What is a database? Differentiate between SQL and NoSQL databases.

### Database is a collection of related data.It can have multiple tables or collections which stores data in it. Database is managed by some Database managemnet system softwares like MySql, MongoDB, MSSql,HBase etc.
### Based on Query there are 2 types of Database \
a) SQL \
b) NoSQL \
### Differences between these are as -

1) SQL stands for Structured Query Language and NoSQL stands for Not Only Structured Query Language.
2) In SQL based DB data are stored in the form of table where as in NoSQL DB data are stored in collections
3) In SQL DB tables are formed with rows and columns like an worksheet and in NoSQL DB collections are documents in the form of JSON
4) In SQL DB columns name and number are fixed where as in NoSQL DB structure of the document is not fixed.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### DDL stands for Data Definition Language. It has the set of SQL statement which create,Delete,Change the database and tables. Sme of the DDL statements are -
### CREATE
### DROP
### ALTER
### TRUNCATE

#### CREATE statement is used to create new database or table inside a database like
CREATE databse test

create table student(
    id int PRIMARY KEY AUTO_INCREMENT,
    name varchar(100),
    email varchar(100),
    course enum("DSM","WEB","DSA")
)

### DROP

DROP statement is used to delete database or table like-\
DROP table student\
DROP database test\

### ALTER

#### ALTER statement is used to change the structure of a table like adding new columns in a table, droping columns,adding indexes to a table,changing the datatype of a column etc for example

ALTER TABLE student ADD column city varchar(10)

### TRUNCATE

TRUNCATE statement is used to delete all the records in a table and restructures and refresh it.

TRUNCATE TABLE student

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

### DML stands for Data Manipulation Language. It has the set of statements which manipulates data i.e. changes the data inside a tables.

### INSERT

#### INSERT statement adds new data to a given table
INSERT INTO student(name,email,course) VALUES ("abc","abc@example.com","DSM")

### UPDATE

#### UPDATE statement is used to update one or more existing row/s of a table
UPDATE student SET course="DSA" WHERE name="abc"

### DELETE

#### DELETE statement is used to delete one or more row/s from a table
DELETE FROM student WHERE name="abc"

## Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language and has statement to get the records from tables.

### SELECT

### SELECT statement is DQL of mysql and fetches the records from one or more tables. It has a rich set of sub statement which is used to get desired  data from different tables based on WHERE filter and from multiple tables using JOINs.

SELECT name,email FROM student where course="DSM"

## Q5. Explain Primary Key and Foreign Key.

### Primary Key of a table uniquely identifies each row. For example in a database of employees employee_id uniquly identifies each row.

### Foreign Key is the key in a table which is primary key of anther table. It is used to maintain a relationship between two tables.Using Foreign key we normalize the tables.
#### For example there is a table course(course_id primary key,course_name,course_fee) and a table of student(id,name,email,course_id foregin key course.course_id) 
#### Here column course_id is the primary key of table course and acting as foregin key in table student.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector\

mydb = mysql.connector.connect(\
  host="localhost",\
  user="abc",\
  password="password",\
  database = "dcm"\

)\
print(mydb)\
mycursor = mydb.cursor()\
sql = "Select * from student"\
mycursor.execute(sql)\
for row in mycursor.fetchall() :\
    print(row)\
mydb.close()

#### cursor() is a method which returns a cursor object which interacts to the database and has methods to execute the queries and results

#### We can execute any query using execute() method

## Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.